/****** General ***********/
*,
*::before,
*::after {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 30px; */
    /* border-bottom: 2px solid #f0f0f0; */
}

.logo img {
    width: 40%;
    height: auto;
    padding-top: 35px;
    padding-left: 30px;
}

/* header mobile */
@media (max-width: 500px) {

    .header {
        margin-top: 15px;
        flex-direction: column;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }

    .logo img {
        padding: 0;
    }

    /* .nav-link.active {
        border-top: none !important;
        border-bottom: 2px solid #0065fc;
        padding-top: 0px;
        padding-bottom: 8px;
    } */

    .nav {
        display: flex !important;
        gap: 0px !important;
        width: 100%;
    }

    .nav-link.active {
        position: relative;
        color: #0065fc;
        text-decoration: none;
        display: inline-block; /* Permet d'appliquer ::after proprement */
        border-top: none !important;
        padding-bottom: 15px; /* Ajoute un espace sous le texte */
    }
    
    .nav-link.active:hover {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 250%; /* Ajuste la largeur de la ligne */
        height: 2px;
        background-color: #0065fc;
        transform: translateX(-60%); /* Centre la ligne */
    }
    

    .nav-link {
        position: relative;
        color: black;
        text-decoration: none;
        display: inline-block; /* Permet d'appliquer ::after proprement */
        border-top: none !important;
        padding-bottom: 15px; /* Ajoute un espace sous le texte */
        width: 100%;
        text-align: center;
    }

    .nav-link:hover {
        box-shadow: 0px 3px #0065FC;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        right: 50%;
        bottom: 0;
        /* width: 350%;  */
        height: 2px;
        background-color: #f0f0f0;
        transform: translateX(60%); /* Centre la ligne */
    }
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #0065fc;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    padding-top: 9.5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-link:hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
    padding-top: 8px;
}

#search-section {
    padding: 30px;
}

.search-title {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.search-subtitle {
    font-size: 16px;
    color: #555;
    margin: 5px 0 20px;
}

.search-wrapper {
    width: 100%;
    max-width: 600px;
    /* margin: 0 auto; */
    /* padding: 0 15px; */
    box-sizing: border-box;
}

/* #search-form {
    display: flex;
    align-items: center;
} */

#search-form {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    max-width: 100%;
    gap: 0; /* optionnel */
}


/* search mobile */
@media (max-width: 500px) {
    #search-form {
        justify-content: space-between;
    }
}

/* .search-location {
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 8px;
    width: 335px;
    height: 49px;
} */

.search-location {
    display: flex;
    align-items: center;
    gap: 8px;
    width: auto; /* au lieu de 335px */
    max-width: 100%;
    height: 49px;
    /* background-color: #F2F2F2; */
    border-radius: 15px 0 0 15px;
    /* padding: 0 10px; */
    box-sizing: border-box;
}


.search-icon {
    font-size: 16px;
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.search-icon img {
    width: 14px;
    height: 18px;
}

#search-input {
    border: none;
    /* background: none; */
    outline: none;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
    flex-grow: 1;
    width: 100%;
    min-width: 0;
}

#search-button {
    background-color: #0065fc;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    height: 50px;
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
}

#search-button:hover {
    background-color: #004bbd;
}

#search-button-mobile {
    visibility: hidden;
}

@media (max-width: 500px) {
    #search-button {
        visibility: hidden;
        padding: 0;
        width: 0;
        height: 0;
    }

    #search-button-mobile {
        visibility: visible;
        background-color: #0065FC;
        border: none;
        border-radius: 15px;
        padding: 15px 16px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0px 2px 5px gray;
    }

    #search-button-mobile:hover {
        background-color: #004bbd;
    }

    #search-button-mobile img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#filters-section {
    padding: 20px 30px;
}

.filters-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.filters-container {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.filter-display-tablette {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

@media (max-width : 500px) {

    .filter-display-tablette {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
}

.filter-button {
    display: flex;
    align-items: center;
    gap: 22px;
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 22px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    font-weight: bold;
}

.filter-button .filter-icon {
    font-size: 16px;
    color: #0065fc;
}

.filter-icon img {
    display: flex;
}

.filter-button:hover {
    background-color: #deebff;
}


/* mode tablette */
@media (max-width: 1024px) {

    .filters-container {
        display: initial;
    }
}

/* mode mobile */
@media (max-width: 500px) {

    .filter-button {
        padding: 5% 10%;
        font-size: 3.2vw;
        white-space: nowrap;
        gap: 4.5vw;
    }

    .filter-icon {
        font-size: 3.2vw;
    }
}

/* Info Section */
#info-section {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #555;
}

.info-icon {
    font-size: 16px;
    color: #0065fc;
}

.info-text {
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* main container mobile */
@media (max-width: 500px) {
    .main-container {
        padding: 0;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    padding: 15px 0;
    font-size: 1.5vw;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

/* .card-title {
    font-size: 16px;
    margin: 0;
} */

.card-title {
    font-size: 1.2vw;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }  

.card-subtitle {
    margin: 10px 0px;
    font-size: 1.1vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* mode tablette */
@media (max-width: 1024px) {
    .card-title {
        font-size: 1.8vw;
    }

    .card-subtitle {
        font-size: 1.7vw;
    }
}

/* mode mobile */
@media (max-width: 500px) {

    .section-title {
        font-size: 4.5vw;
    }
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

/* SECTION HÉBERGEMENTS */
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    padding: 20px;
    border-radius: 15px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 15px;
}

/* hebergements-card responsive */
@media (max-width: 768px) {
    .hebergements-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* padding: 0 20px; */
    }
}

/* Cartes Hébergements */
.hebergements .card {
    width: 100%;
    max-width: 100%;
    background-color: white;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.hebergements .card:hover {
    transform: translateY(-5px);
}

.hebergements .card img {
    width: 100%;
    height: auto;  /* Augmenter la hauteur pour équilibrer */
    aspect-ratio: 7/3;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* image mobile */
@media (max-width: 500px) {
    .hebergements .card img {
        height: 30vw;
    }
}

.hebergements .card-content {
    padding: 10px;
}

.hebergements-more {
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2vw;
}

/* 🖥️ SECTION LES PLUS POPULAIRES */
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    padding: 20px;
    border-radius: 15px;
}

@media (max-width: 500px) {
    .populaires {
        border-radius: 0;
    }
}

/* Titre */
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* Conteneur des cartes */
.populaires-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

/* Cartes des populaires */
.populaires-cards .card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    /* padding: 10px; */
    gap: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }
  

.populaires-cards .card:hover {
    transform: translateY(-5px);
}

/* Image */
.populaires-cards .card img {
    height: 9vw;
    min-width: 7.3vw; /* ✅ pas plus petit */
    max-width: 130px; /* pour garder une taille cohérente */
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
} 

/* Contenu des cartes */
.populaires-cards .card-content {
    width: 90%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px;
    margin-top: 15px;
}

.populaires-cards .card-txt {
    /* margin-bottom: 55px; */
}

/* 🖥️ RESPONSIVE TABLETTES */
@media (max-width: 1024px) {
    .populaires-cards .card-txt {
        /* margin-bottom: initial; */
    }
}

.populaires-cards .card-title {
    font-size: 0.9vw;
    /* font-size: 14px; */
    font-weight: bold;
    white-space: wrap;
}

.populaires-cards .card-subtitle {
    font-size: 0.8vw;
    /* font-size: 13px; */
    color: #555;
}

/* mode tablette */
@media (max-width: 1024px) {
    .populaires-cards .card-title {
        font-size: 1.5vw;
    }

    .populaires-cards .card-subtitle {
        font-size: 1.4vw;
    }
}

/* mode mobile */
@media (max-width: 500px) {

    .card-content .card-title {
        font-size: 3.8vw;
    }

    .card-content .card-subtitle {
        font-size: 3vw;
    }

    .populaires-cards .card-title  {
        font-size: 3.8vw;
    }

    .populaires-cards .card-subtitle {
        font-size: 3vw;
    }
}

.populaires-cards .card-rating {
    margin-top: auto;
    position: relative;
    bottom: 10px;
}

.populaires-cards .card-rating i {
    font-size: 1.6vw;
}

.card-rating i {
    font-size: 1.6vw;
}

/* 🖥️ RESPONSIVE TABLETTES */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        display: initial;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-more {
        font-size: 1.6vw;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 cartes sur tablette */
        gap: 20px;
    }

    /* .populaires-cards .card {
        align-items: center;
    } */

    .populaires-cards .card img {
        min-width: 2vw;
        height: 15vw;
        max-width: 130px;
        aspect-ratio: 1 / 1;
    }

    .populaires-cards .card-content {
        /* width: 100%; */
        padding: 0px 10px;
        /* text-align: center; */
    }

    .card-rating i {
        font-size: 1.6vw;
    }    

    .section-title {
        font-size: 2.2vw;
    }
}

/* 📱 RESPONSIVE MOBILE */
@media (max-width: 768px) {
    .populaires-cards {
        grid-template-columns: 1fr; /* 1 carte par ligne sur mobile */
        padding: 0 20px;
    }
}


@media (max-width: 500px) {
    .hebergements {
        background-color: #FFF;
        padding: 0;
    }

    .section-title {
        padding: 0 20px;
    }

    .hebergements-cards {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }
    .hebergements-more {
        padding: 0 20px;
        font-size: 3vw;
    }

    .populaires {
        margin-top: 0px;
        padding: 0;
        padding-bottom: 30px;
    }

    .populaires-title {
        margin-bottom: 0;
        padding: 20px;
    }

    .populaires-cards .card img {
        min-width: 27vw;
        height: 35vw;
        max-width: 130px;
        aspect-ratio: 1 / 1;
    }
}

#activites-section {
    /* max-width: 1200px; */
    margin: 0 auto; /* Centre le contenu */
    padding: 40px 30px; /* Ajoute du padding */
}

.activites-title {
    font-size: 22px;
    font-weight: bold;
    /* margin-bottom: 20px; */
    padding: 15px 0;
}

/* Grille des cartes d'activités */
.activites-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* Cartes d'activités */
.activite-card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* text-align: center; */
}

.activite-card:hover {
    transform: translateY(-5px);
}

/* Image */
.activite-image {
    width: 100%;
    aspect-ratio: 1.5/2;
    object-fit: cover;
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Responsive Design tablette */
@media (max-width: 1024px) {
    .activite-image {
        height: 200px;
    }
}

/* Texte */
.activite-name {
    padding: 15px;
    font-weight: bold;
    font-size: 1.2vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    /* text-align: center; */
}

/* Responsive Design */
@media (max-width: 1024px) {
    .activites-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .activites-container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    #activites-section {
        padding: 20px;
    }
}

@media (max-width: 500px) {

    .activite-name {
        font-size: 3.8vw;
    }

    .activites-container {
        padding: 0;
    }

    .activite-image {
        height: 40vw;
    }
}

#footer {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .footer-container {
        display: initial;
    }

    .footer-container .footer-column {
        margin-bottom: 50px;
    }
}

.footer-column {
    flex: 1;
}

.footer-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li {
    margin-bottom: 8px;
}

.footer-list a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.footer-list a:hover {
    text-decoration: underline;
}